# =========================
# Java
# =========================
*.class
*.jar
*.war
*.ear

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
*.ipr

# =========================
# Build / Output folders
# =========================
out/
target/
bin/

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log